<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="net40" />
  <package id="Spring.Social.Core" version="1.0.1" targetFramework="net40" />
</packages>