<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="net40-Client" />
  <package id="Spring.Social.Core" version="1.0.1" targetFramework="net40-Client" />
</packages>